.navbar-default {
    background-color: #2BC2FA;
    border-color: #2BC2FA;
}
.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #2BC2FA;
    color: #FFFFFF;
}

.navbar-brand-style{
	color: #2a2aa2; 
	font-size: 27px;
}

.body-syle{
	margin-top: 6.5rem;
}

.error-sytle{
	color: red; 
	text-align: center;
}

.input-textarear-style{
	width: %80;
}