{% extends "grumblr/base.html" %}
{%block title%}Grumblr sign up{%endblock%}

{%block navbar%}
<!--Nav bar-->
<nav class="navbar-fixed-top bg-info navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--For collapsed navbar-->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand navbar-brand-style" href="{% url 'home' %}">Grumblr</a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>

    </div>
  </div>
</nav>
{%endblock%}

{%block content%}
<div class="container">
  <h4 class="text-center">Reset your password!</h4>
</div>

<div class="container">
  <form class="form-horizontal form-group-default" action="{% url 'reset_password' user.username %}" method="post">

  	{% for error in form.non_field_errors %}
    <p class="error-style text-center">{{error}}</p>
    {% endfor %}

    <!-- Display fields of form -->
    {% for field in form.visible_fields %}
    <div class="form-group">
      <div class="col-sm-4 col-sm-offset-4">{{field.label_tag}}: </div>
      <div class="col-sm-4 col-sm-offset-4">          
        {{field}}
      </div>
      <p class="error-style">{{field.errors}}</p>
    </div>
    {% endfor %}


    <div class="form-group text-center">        
      <div class="col-sm-offset-4 col-sm-4 text-align: center">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset password</button>
      </div>
    </div>
    {% csrf_token %}
  </form>
</div>
{%endblock%}
